*.swp
*.iml
*.ipr
*.iws
*.prefs
src/generated/*
*~
.classpath
.gradle/
.idea/
.metadata
.project
.settings
.springBeans
bin/
build/
buildSrc/
classes/
out
out/
project/
target/
tmp
cctv-server.pid
logs/*